<section id="hero" class="specialist-hero-section container-no-paddings">
  <div class="specialist-hero-content-container">
    <h2 class="specialist-hero-title">Education UA</h2>
    <p class="specialist-hero-text">
      Безліч освітніх можливостей у вашому електронному кабінеті
    </p>
    <p class="specialist-hero-text">
      Ми шукаємо IT-спеціалістів, зацікавлених у розвитку освіти!
    </p>
    <button class="specialist-hero-btn btn">Зареєструватися</button>
  </div>
  <img src="./specialist/discussion.png" alt="" />
</section>
<section class="container-no-paddings">
  <div class="specialist-our-mission-container">
    <h3 class="specialist-our-mission-title">Наша місія</h3>
    <h4 class="specialist-our-mission-subtitle">
      Об'єднати освіту та ІТ-спеціалістів!
    </h4>
  </div>
</section>
<section id="about-platform" class="container">
  <div class="specialist-about-title-container">
    <h3 class="title">Про платформу</h3>
    <img
      class="specialist-about-building-img"
      src="./teacher/about-building.png"
      alt=""
    />
  </div>
  <ul class="specialist-about-list">
    <li class="specialist-about-item">
      <p class="specialist-about-text">
        Якщо ви IT-спеціаліст, який зацікавлений у розвитку освіти країни,
        хочете допомагати робити її більш сучасною та покращувати галузь
        інформаційної технології, ласкаво просимо до нашої платформи!
      </p>
    </li>
    <li class="specialist-about-item">
      <p class="specialist-about-text">
        Завдяки платформі IT-спеціалісти зможуть сертифікувати силабуси та курси
        викладачів ЗВО. Таким чином мати можливість покращувати освіту разом з
        викладачами та давати міцний фундамент випускникам
      </p>
    </li>
    <li class="specialist-about-item">
      <p class="specialist-about-text">
        Наша платформа сприяє активній взаємодії та співпраці між усіма
        учасниками освітнього процесу, стимулює та підтримує навчання та
        розвиток IT-галузі
      </p>
    </li>
  </ul>
</section>
<section class="specialist-join-section container-no-paddings">
  <div class="specialist-join-container">
    <h3 class="specialist-join-title">
      Приєднуйтесь до Education UA, де ви зможете сприяти розвитку освіти,
      отримуючи доступ до унікальних можливостей та разом з викладачами
      удосконалювати навчальні матеріали
    </h3>
  </div>
</section>
<section id="opportunities" class="specialist-oportunities-section container">
  <h3 class="title">Які можливості дає спеціалістам реєстрація на платформі</h3>
  <ul class="specialist-oportunities-list">
    <li class="specialist-oportunities-item">
      <svg class="specialist-oportunities-icon" width="56" height="56">
        <use href="./sprite.svg#men"></use>
      </svg>
      <p class="specialist-oportunities-text">
        Рецензування силабусів та взаємодія з викладачами
      </p>
    </li>
    <li class="specialist-oportunities-item">
      <svg class="specialist-oportunities-icon" width="56" height="56">
        <use href="./sprite.svg#teacher"></use>
      </svg>
      <p class="specialist-oportunities-text">
        Допомога в розвитку освіти <br />
        12 галузі
      </p>
    </li>
    <li class="specialist-oportunities-item">
      <svg class="specialist-oportunities-icon" width="56" height="56">
        <use href="./sprite.svg#group-people"></use>
      </svg>
      <p class="specialist-oportunities-text">
        Взаємодія <br />
        зі студентами
      </p>
    </li>
    <li class="specialist-oportunities-item">
      <svg class="specialist-oportunities-icon" width="56" height="56">
        <use href="./sprite.svg#board"></use>
      </svg>
      <p class="specialist-oportunities-text">
        Прийняття участі <br />
        у валідаційних заходах
      </p>
    </li>
  </ul>
</section>
<section id="how-it-works" class="specialist-how-it-works-section container">
  <h3 class="title">Як це працює</h3>
  <div class="specialist-how-it-works-container">
    <div class="specialist-how-it-works-item">
      <svg class="specialist-how-it-works-icon" width="100" height="100">
        <use href="./sprite.svg#computer-1"></use>
      </svg>
      <h4 class="specialist-how-it-works-subtitle">Реєстрація</h4>
      <p class="specialist-how-it-works-text">
        Залучення до системи <br />
        відбувається через зазначення <br />
        компанії, посади та валідації
      </p>
    </div>
    <div class="specialist-how-it-works-line"></div>
    <div class="specialist-how-it-works-item">
      <svg class="specialist-how-it-works-icon" width="100" height="100">
        <use href="./sprite.svg#men-message"></use>
      </svg>
      <h4 class="specialist-how-it-works-subtitle">Рецензування силабусу</h4>
      <p class="specialist-how-it-works-text">
        В особистий кабінет надходить силабус на рецензування. <br />
        IT-спеціаліст ознайомлюється з матеріалами та заповнює <br />
        форму рецензії
      </p>
    </div>
    <div class="specialist-how-it-works-line"></div>
    <div class="specialist-how-it-works-item">
      <svg class="specialist-how-it-works-icon" width="100" height="100">
        <use href="./sprite.svg#handshake"></use>
      </svg>
      <h4 class="specialist-how-it-works-subtitle">Обговорення силабусу</h4>
      <p class="specialist-how-it-works-text">
        Після відправлення рецензії <br />
        IT-спеціаліст отримує доступ до обговорення елементів <br />
        силабусу із викладачем
      </p>
    </div>
    <div class="specialist-how-it-works-line"></div>
    <div class="specialist-how-it-works-item">
      <svg class="specialist-how-it-works-icon" width="100" height="100">
        <use href="./sprite.svg#men-medal-4"></use>
      </svg>
      <h4 class="specialist-how-it-works-subtitle">Валідація курсу</h4>
      <p class="specialist-how-it-works-text">
        Після позитивної рецензії на <br />
        силабус IT-спеціаліст зможе <br />
        взяти участь у валідаційних <br />
        заходах курсу
      </p>
    </div>
  </div>
</section>
<section id="will-recieve" class="specialist-you-will-recive-section container">
  <h3 class="title">Ви отримаєте</h3>
  <ul class="specialist-you-will-recive-list">
    <li class="specialist-you-will-recive-item">
      <p class="specialist-you-will-recive-text">
        Можливість взяти участь у сертифікації силабусів і курсів
      </p>
      <img
        src="./specialist/laptop.png"
        alt="woman with diploma"
        class="specialist-you-will-recive-img"
      />
    </li>
    <li class="specialist-you-will-recive-item">
      <p class="specialist-you-will-recive-text">
        Впливати на освітній процес у ЗВО
      </p>
      <img
        src="./specialist/interview.png"
        alt="diplomas"
        class="specialist-you-will-recive-img"
      />
    </li>
    <li class="specialist-you-will-recive-item">
      <p class="specialist-you-will-recive-text">
        Напряму взаємодіяти з викладачами та студентами
      </p>
      <img
        src="./specialist/meeting.png"
        alt="handshake"
        class="specialist-you-will-recive-img"
      />
    </li>
  </ul>
</section>
<section id="reviews" class="container">
  <h3 class="title">Наші користувачі про нас</h3>
  <div class="swiper-wrapper-container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">15.04.2024</p>
              <p class="swiper-content-text">Іван Мельник</p>
              <p class="swiper-content-text">Директор ІТ компанії</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Завдяки цій платформі освіта і бізнес стали ближче. Сертифікація дає
            можливість щорічно випускати конкурентоспроможних спеціалістів
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-2.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">02.04.2024</p>
              <p class="swiper-content-text">Софія Андрієнко</p>
              <p class="swiper-content-text">Керівник відділу</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Брала участь у сертифікації силабусу. Були обговорення, правки та на
            виході ми отримали документ якій відповідає сучасним вимогам
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-3.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">17.03.2024</p>
              <p class="swiper-content-text">Павло Завгородній</p>
              <p class="swiper-content-text">Керівник компанії</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Дуже важлива і потрібна платформа для розвитку освіти, яка дає
            можливість контактувати викладачам, IT-спеціалістам та студентам
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-4.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">15.04.2024</p>
              <p class="swiper-content-text">Софія Андрієнко</p>
              <p class="swiper-content-text">Директор ІТ компанії</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Завдяки цій платформі освіта і бізнес стали ближче. Сертифікація дає
            можливість щорічно випускати конкурентоспроможних спеціалістів
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-5.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">15.04.2024</p>
              <p class="swiper-content-text">Іван Мельник</p>
              <p class="swiper-content-text">Директор ІТ компанії</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Дуже важлива і потрібна платформа для розвитку освіти, яка дає
            можливість контактувати викладачам, IT-спеціалістам та студентам
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-6.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">15.04.2024</p>
              <p class="swiper-content-text">Катерина Мельник</p>
              <p class="swiper-content-text">Директор ІТ компанії</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Завдяки цій платформі освіта і бізнес стали ближче. Сертифікація дає
            можливість щорічно випускати конкурентоспроможних спеціалістів
          </p>
        </div>
      </div>
    </div>
    <div class="controls">
      <button class="swiper-button-prev"></button>
      <button class="swiper-button-next"></button>
    </div>
  </div>
</section>
<section id="contacts" class="container-no-paddings">
  <div class="specialist-join-us-wrap">
    <div class="specialist-join-us-container">
      <img
        src="./teacher/join-us-building.png"
        alt="building"
        class="specialist-join-us-img"
      />
      <h3 class="specialist-join-us-title">Приєднуйтесь до нас!</h3>
      <h4 class="specialist-join-us-subtitle">
        Станьте частиною інновацій <br />
        та допоможіть нам розвивати IT-освіту!
      </h4>
      <button class="specialist-join-us-btn btn">Зареєструватися</button>
    </div>
    <img src="./specialist/womam-with-laptop.png" alt="office" />
  </div>
</section>
