<section id="hero" class="student-hero-section container-no-paddings">
  <div class="student-hero-container">
    <h2 class="student-hero-title">Education UA</h2>
    <p class="student-hero-text">
      Безліч освітніх можливостей у вашому електронному кабінеті
    </p>
    <p class="student-hero-text">
      Створюйте портфоліо та взаємодійте з IT-спеціалістами
    </p>
    <button class="student-hero-btn btn">Зареєструватися</button>
  </div>
  <img src="./student/student-hero.png" alt="girl with books" />
</section>
<section class="student-our-mission-section container-no-paddings">
  <div class="student-our-mission-container">
    <h3 class="student-our-mission-title">Наша місія</h3>
    <h4 class="student-our-mission-subtitle">
      Ми сприяємо освіті, надаючи студентам найкращі ІТ-ресурси!
    </h4>
  </div>
</section>
<section id="about-platform" class="container">
  <div class="student-about-title-container">
    <h3 class="title">Про платформу</h3>
    <img
      class="student-about-building-img"
      src="./teacher/about-building.png"
      alt=""
    />
  </div>
  <div class="student-about-info-container">
    <ul class="student-about-info-list">
      <li class="student-about-info-item">
        <p class="student-about-info-text">
          Education UA - це інноваційний інструмент, що забезпечує повністю
          інтерактивне середовище, в якому співпрацюють викладачі, IT
          спеціалісти та студенти
        </p>
      </li>
      <li class="student-about-info-item">
        <p class="student-about-info-text">
          Завдяки платформі студенти зможуть здобувати якісну освіту у
          сертифікованих викладачів, а також залишати зворотний зв'язок щодо
          якості навчання
        </p>
      </li>
      <li class="student-about-info-item">
        <p class="student-about-info-text">
          Наш сервіс допоможе вам створити своє портфоліо. Ви зможете брати
          участь у відкритих лекціях та отримувати цінні знання від IT
          спеціалістів
        </p>
      </li>
    </ul>

    <div class="student-about-images-container">
      <img
        src="./student/yellow-section.png"
        alt="woman with book yellow bg"
        class="student-about-info-img"
      />
      <img
        src="./student/red-section.png"
        alt="man with book red bg"
        class="student-about-info-img"
      />
      <img
        src="./student/green-section.png"
        alt="man with book green bg"
        class="student-about-info-img"
      />
      <img
        src="./student/blue-section.png"
        alt="woman with book blue bg"
        class="student-about-info-img"
      />
    </div>
  </div>
</section>
<section class="student-join-section container-no-paddings">
  <div class="student-join-container">
    <h3 class="student-join-title">
      Приєднуйтесь до Education UA!<br />
      Ви знайдете цікаві пропозиції, отримаєте доступ до унікальних можливостей
      та <br />
      співпраці з IT спеціалістами
    </h3>
  </div>
</section>
<section id="opportunities" class="container">
  <h3 class="title">Які можливості дає студентам реєстрація на платформі</h3>
  <ul class="student-oportunities-list">
    <li class="student-oportunities-item">
      <svg class="student-oportunities-icon" width="56" height="56">
        <use href="./sprite.svg#het"></use>
      </svg>
      <p class="student-oportunities-text">
        Отримувати інформацію про курси, що діють та <br />
        приймати в них участь
      </p>
    </li>
    <li class="student-oportunities-item">
      <svg class="student-oportunities-icon" width="56" height="56">
        <use href="./sprite.svg#teachers"></use>
      </svg>
      <p class="student-oportunities-text">
        Оцінювати курси та залишати зворотний зв'язок щодо <br />
        якості навчання
      </p>
    </li>
    <li class="student-oportunities-item">
      <svg class="student-oportunities-icon" width="56" height="56">
        <use href="./sprite.svg#board"></use>
      </svg>
      <p class="student-oportunities-text">
        Вести портфоліо <br />
        для майбутнього працевлаштування
      </p>
    </li>
    <li class="student-oportunities-item">
      <svg class="student-oportunities-icon" width="56" height="56">
        <use href="./sprite.svg#men"></use>
      </svg>
      <p class="student-oportunities-text">
        Перспектива <br />
        працевлаштування до <br />
        ведучих IT компаній
      </p>
    </li>
  </ul>
</section>
<section id="how-it-works" class="student-how-it-works-section container">
  <h3 class="title">Як це працює</h3>
  <div class="student-how-it-works-container">
    <div class="student-how-it-works-item">
      <svg class="student-how-it-works-icon" width="100" height="100">
        <use href="./sprite.svg#computer-yellow-1"></use>
      </svg>
      <h4 class="student-how-it-works-subtitle">Реєстрація</h4>
      <p class="student-how-it-works-text">
        Залучення до системи <br />
        відбувається через перелік <br />
        студентів, що вже існує,<br />
        необхідно тільки ввести <br />
        свої дані
      </p>
    </div>
    <div class="student-how-it-works-line"></div>
    <div class="student-how-it-works-item">
      <svg class="student-how-it-works-icon" width="100" height="100">
        <use href="./sprite.svg#computer-blue"></use>
      </svg>
      <h4 class="student-how-it-works-subtitle">Валідаційні заходи</h4>
      <p class="student-how-it-works-text">
        В електронному кабінеті буде розміщена інформація щодо валідаційних
        заходів, з формою зворотного зв’язку
      </p>
    </div>
    <div class="student-how-it-works-line"></div>
    <div class="student-how-it-works-item student-item-position">
      <svg class="student-how-it-works-icon" width="100" height="100">
        <use href="./sprite.svg#document-red"></use>
      </svg>
      <h4 class="student-how-it-works-subtitle">Навчання</h4>
      <p class="student-how-it-works-text">
        Ви долучитесь до спільноти студентів, викладачів та IT спеціалістів у
        вашій галузі та візьмете участь у <br />
        покращенні навчання
      </p>
    </div>
    <div class="student-how-it-works-line"></div>
    <div class="student-how-it-works-item">
      <svg class="student-how-it-works-icon" width="100" height="100">
        <use href="./sprite.svg#men-medal-green"></use>
      </svg>
      <h4 class="student-how-it-works-subtitle">Майбутня ка’єра</h4>
      <p class="student-how-it-works-text">
        Ведіть своє портфоліо та демонструйте свої досягнення потенційним
        роботодавцям
        <br />
        <br />
      </p>
    </div>
  </div>
</section>
<section id="will-recieve" class="student-you-will-recive-section container">
  <h3 class="title">Ви отримаєте</h3>
  <ul class="student-you-will-recive-list">
    <li class="student-you-will-recive-item">
      <p class="student-you-will-recive-text">
        Навчання за сучасними методиками
      </p>
      <img
        src="./student/woman-with-diploma.png"
        alt="woman with diploma"
        class="student-you-will-recive-img"
      />
    </li>
    <li class="student-you-will-recive-item">
      <p class="student-you-will-recive-text">Заповнене портфоліо</p>
      <img
        src="./student/students-diplomas.png"
        alt="diplomas"
        class="student-you-will-recive-img"
      />
    </li>
    <li class="student-you-will-recive-item">
      <p class="student-you-will-recive-text">Можливість працевлаштування</p>
      <img
        src="./student/handshake.png"
        alt="handshake"
        class="student-you-will-recive-img"
      />
    </li>
  </ul>
</section>
<section id="reviews" class="container">
  <h3 class="title">Наші користувачі про нас</h3>
  <div class="swiper-wrapper-container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">12.05.2024</p>
              <p class="swiper-content-text">Жанна Кузьменко</p>
              <p class="swiper-content-text">Студент 4 курсу</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Ця платформа дала мені можливість додавати нові проєкти у портфоліо
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-2.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">02.04.2024</p>
              <p class="swiper-content-text">Сергій Мітєв</p>
              <p class="swiper-content-text">Студент 4 курсу</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Завдяки Education UA я знайшов свою першу роботу в IT-компанії
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-3.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">17.03.2024</p>
              <p class="swiper-content-text">Єлизавета Кравчук</p>
              <p class="swiper-content-text">Студент 4 курсу</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Відтепер я маю можливість навчатися за сучасними методиками, які
            допомагають покращити знання
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-4.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">15.04.2024</p>
              <p class="swiper-content-text">Софія Андрієнко</p>
              <p class="swiper-content-text">Студент 3 курсу</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Завдяки цій платформі освіта і бізнес стали ближче. Сертифікація дає
            можливість щорічно випускати конкурентоспроможних спеціалістів
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-5.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">15.04.2024</p>
              <p class="swiper-content-text">Іван Мельник</p>
              <p class="swiper-content-text">Студент 3 курсу</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Завдяки цій платформі освіта і бізнес стали ближче. Сертифікація дає
            можливість щорічно випускати конкурентоспроможних спеціалістів
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-6.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">15.04.2024</p>
              <p class="swiper-content-text">Тетяна Вецька</p>
              <p class="swiper-content-text">Студент 2 курсу</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Завдяки цій платформі освіта і бізнес стали ближче. Сертифікація дає
            можливість щорічно випускати конкурентоспроможних спеціалістів
          </p>
        </div>
      </div>
    </div>
    <div class="controls">
      <button class="swiper-button-prev"></button>
      <button class="swiper-button-next"></button>
    </div>
  </div>
</section>
<section id="contacts" class="container-no-paddings">
  <div class="student-join-us-wrap">
    <div class="student-join-us-container">
      <img
        src="./teacher/join-us-building.png"
        alt="building"
        class="student-join-us-img"
      />
      <h3 class="student-join-us-title">Приєднуйтесь до нас!</h3>
      <h4 class="student-join-us-subtitle">Станьте частиною інновацій!</h4>
      <button class="student-join-us-btn btn">Зареєструватися</button>
    </div>
    <img src="./student/office-meeting.png" alt="office" />
  </div>
</section>
