<section id="hero" class="container-no-paddings teacher-hero">
  <div class="teacher-hero-container">
    <div class="teacher-hero-main-info-wrap">
      <h1 class="teacher-hero-main-info-title">Education UA</h1>
      <p class="teacher-hero-main-info-text">
        Безліч освітніх можливостей у вашому електронному кабінеті
      </p>
      <p class="teacher-hero-main-info-text">
        Cтаньте сертифікованим викладачем в IT-галузі!
      </p>
      <button class="teacher-hero-main-info-btn btn">Зареєструватися</button>
    </div>
    <img
      class="teacher-hero-main-info-img"
      src="./teacher/team-photo.png"
      alt="team photo"
    />
  </div>
</section>
<section class="container-no-paddings">
  <div class="teacher-our-mission-container">
    <h2 class="teacher-hero-our-mission-title">Наша місія</h2>
    <h3 class="teacher-hero-our-mission-text">
      Ми сприяємо освіті, надаючи викладачам найкращі ІТ-ресурси
    </h3>
  </div>
</section>
<section id="about-platform" class="teacher-about-section container">
  <img
    class="teacher-about-photo"
    src="./teacher/about-building.png"
    alt="building"
  />
  <h3 class="title">Про платформу</h3>
  <div class="teacher-about-section-container">
    <div class="teacher-about-element">
      <p class="teacher-section-about-text">
        Завдяки цій платформі кожен викладач зможе рецензувати та сертифікувати
        силабуси дисциплін за допомогою рекомендацій від експертів-практиків з
        провідних <br />
        ІТ-компаній
      </p>
    </div>
    <div class="teacher-about-element">
      <p class="teacher-section-about-text">
        За допомогою платформи викладачі зможуть <br />
        актуалізувати зміст освітніх <br />
        програм за допомогою<br />
        експертів-практиків з провідних <br />
        ІТ-компаній та отримати <br />
        рецензію на ОПП, яка <br />
        сформується на підставі <br />
        коментарів експертів
      </p>
    </div>
    <div class="teacher-about-element">
      <p class="teacher-section-about-text">
        Платформа сприяє активній взаємодії та співпраці між усіма учасниками
        освітнього процесу, стимулює та підтримує навчання та розвиток
        IT-галузі, дозволяє бути в курсі останніх тенденцій ІТ-галузі
      </p>
    </div>
  </div>
</section>
<section class="container-no-paddings">
  <div class="teacher-join-container">
    <h3 class="teacher-join-text">
      Приєднуйтесь до Education UA!<br />
      Отримайте нові можливості:
    </h3>
    <ul class="teacher-join-list">
      <li class="teacher-join-item">
        <p class="teacher-join-text">розвиток викладацької кар'єри</p>
      </li>
      <li class="teacher-join-item">
        <p class="teacher-join-text">
          доступ до унікальних можливостей та співпрацювати з провідними
          IT-експертами
        </p>
      </li>
      <li class="teacher-join-item">
        <p class="teacher-join-text">
          рецензії та сертифікати від Харківського ІТ Кластера
        </p>
      </li>
    </ul>
  </div>
</section>
<section id="opportunities" class="container">
  <h3 class="title">Які можливості дає викладачам реєстрація на платформі</h3>
  <div class="teacher-oportunities-container">
    <div class="teacher-oportunities-element">
      <svg width="56" height="56">
        <use href="./sprite.svg#teacher"></use>
      </svg>
      <p class="teacher-oportunities-text">
        Рецензування <br />
        освітніх програм <br />
        та силабусів дисциплін
      </p>
    </div>
    <div class="teacher-oportunities-element">
      <svg width="56" height="56">
        <use href="./sprite.svg#men"></use>
      </svg>
      <p class="teacher-oportunities-text">
        Отримання зворотного зв’язку від IT-спеціалістів
      </p>
    </div>
    <div class="teacher-oportunities-element">
      <svg width="56" height="56">
        <use href="./sprite.svg#board"></use>
      </svg>
      <p class="teacher-oportunities-text">
        Прийняття участі в <br />
        освітніх заходах
      </p>
    </div>
    <div class="teacher-oportunities-element">
      <svg width="56" height="56">
        <use href="./sprite.svg#group-people"></use>
      </svg>
      <p class="teacher-oportunities-text">
        Взаємодія <br />
        зі студентами
      </p>
    </div>
  </div>
</section>
<section id="how-it-works" class="container">
  <h3 class="title">Як це працює</h3>
  <div class="teacher-how-it-works-container">
    <div class="teacher-how-it-works-element">
      <svg width="100" height="100">
        <use href="./sprite.svg#computer"></use>
      </svg>
      <p class="teacher-how-it-works-element-title">Реєстрація</p>
      <p class="teacher-how-it-works-element-text">
        Залучення до системи <br />
        відбувається через перелік <br />
        викладачів, що існує, необхідно <br />
        тільки ввести свої дані
      </p>
    </div>
    <div class="teacher-how-it-works-line"></div>
    <div class="teacher-how-it-works-element">
      <svg width="100" height="100">
        <use href="./sprite.svg#graduate"></use>
      </svg>
      <p class="teacher-how-it-works-element-title">Сертифікація силабусу</p>
      <p class="teacher-how-it-works-element-text">
        Для сертифікації треба <br />
        заповнити форму <br />
        структурованого силабусу та <br />
        отримати дві позитивні рецензії
      </p>
    </div>
    <div class="teacher-how-it-works-line"></div>
    <div class="teacher-how-it-works-element">
      <svg width="100" height="100">
        <use href="./sprite.svg#men-medal-3"></use>
      </svg>
      <p class="teacher-how-it-works-element-title">Валідація курсу</p>
      <p class="teacher-how-it-works-element-text">
        Планування і <br />
        проведення валідаційних <br />
        заходів з подальшим <br />
        опитуванням студентів
      </p>
    </div>
    <div class="teacher-how-it-works-line"></div>
    <div class="teacher-how-it-works-element">
      <svg width="100" height="100">
        <use href="./sprite.svg#document-4"></use>
      </svg>
      <p class="teacher-how-it-works-element-title">Отримання сертифікату</p>
      <p class="teacher-how-it-works-element-text">
        Після позитивних валідаційних заходів курс отримує статус
        "Сертифіковано"
        <br />
        <br />
      </p>
    </div>
  </div>
</section>
<section id="will-recieve" class="container">
  <h3 class="title">Ви отримаєте</h3>
  <div>
    <div class="teacher-will-recive-container">
      <div class="teacher-will-recive-element">
        <h3 class="teacher-will-recive-el-title">Сертифікат на силабус</h3>
        <img
          src="./teacher/diplomas.png"
          alt="diplomas"
          class="teacher-will-recive-img"
        />
      </div>
      <div class="teacher-will-recive-element">
        <h3 class="teacher-will-recive-el-title">Сертифікат на курс</h3>
        <img
          src="./teacher/man-with-pen.png"
          alt="man with pen"
          class="teacher-will-recive-img"
        />
      </div>
      <div class="teacher-will-recive-element">
        <h3 class="teacher-will-recive-el-title">
          Записи круглих столів за результатами
        </h3>
        <img
          src="./teacher/ofice.png"
          alt="ofice"
          class="teacher-will-recive-img"
        />
      </div>
    </div>
  </div>
</section>
<section id="reviews" class="container">
  <h3 class="title">Наші користувачі про нас</h3>
  <div class="swiper-wrapper-container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">15.04.2024</p>
              <p class="swiper-content-text">Олексій Шевченко</p>
              <p class="swiper-content-text">Доцент</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Завдяки цій платформі освіта і бізнес стали ближче. Сертифікація дає
            можливість щорічно випускати конкурентоспроможних спеціалістів
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-2.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">02.04.2024</p>
              <p class="swiper-content-text">Ніна Петренко</p>
              <p class="swiper-content-text">Доцент</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Ця платформа дала мені можливість напряму спілкуватися зі
            спеціалістами та корегувати свої курси відповідно до запитів ринку
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-3.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">17.03.2024</p>
              <p class="swiper-content-text">Михайло Волков</p>
              <p class="swiper-content-text">Професор</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Завдяки Education UA вже усі мої курси сертифіковані, а студенти
            вивчають тільки актуальну інформацію
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-4.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">15.04.2024</p>
              <p class="swiper-content-text">Софія Андрієнко</p>
              <p class="swiper-content-text">Доцент</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Раніше ми самі шукали ІТ-спеціалістів, а тепер це робить система -
            дуже зручно
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-5.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">15.04.2024</p>
              <p class="swiper-content-text">Іван Мельник</p>
              <p class="swiper-content-text">Доцент</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Брала участь у сертифікації силабусу. Були обговорення, правки та на
            виході ми отримали документ якій відповідає сучасним вимогам
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-content-container">
            <img
              class="swiper-content-img"
              src="./avatar-6.png"
              alt="user avatar"
            />
            <div class="swiper-content-text-container">
              <p class="swiper-content-text">15.04.2024</p>
              <p class="swiper-content-text">Катерина Борова</p>
              <p class="swiper-content-text">Доцент</p>
            </div>
          </div>
          <p class="swiper-feedback">
            Раніше ми самі шукали ІТ-спеціалістів, а тепер це робить система -
            дуже зручно
          </p>
        </div>
      </div>
    </div>
    <div class="controls">
      <button class="swiper-button-prev"></button>
      <button class="swiper-button-next"></button>
    </div>
  </div>
</section>
<section id="contacts" class="container-no-paddings">
  <div class="teacher-join-us-wrap">
    <div class="teacher-join-us-container">
      <img
        class="teacher-join-us-boilding-img"
        src="./teacher/join-us-building.png"
        alt="building"
      />
      <h3 class="teacher-join-us-title">Приєднуйтесь до нас!</h3>
      <p class="teacher-join-us-subtitle">
        Станьте частиною інновацій та формуйте майбутнє IT-освіти разом з нами!
      </p>
      <button class="teacher-join-us-button btn">Зареєструватися</button>
    </div>
    <img
      class="teacher-join-us-img"
      src="./teacher/join-us.png"
      alt="women with phone call someone"
    />
  </div>
</section>
