.header {
  max-width: 1440px;
  margin: 40px auto 20px auto;
}

.header-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 40px;
}

.header-img-flag {
  width: 200px;
  height: 32px;
}

.header-img-emblem {
  width: 64px;
  height: 80px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 84px;
  border-top: 1px solid var(--green-color-300);
  border-bottom: 1px solid var(--green-color-300);
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-link {
  position: relative;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: var(--green-color-300);

  overflow: hidden;
}

@keyframes expandAnimation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  display: block;
  bottom: -3px;
  width: 0px;

  height: 1px;
  background-color: var(--green-color-300);

  transition: width 0.3s ease-out;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 100%;
}

.footer-container {
  box-sizing: border-box;

  max-width: 1440px;
  padding: 40px 84px 84px 84px;
  margin: 0 auto;

  border-top: 1px solid var(--green-color-300);
}

.footer-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  margin-bottom: 84px;
}

.footer-info-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-main-info-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-main-info-container {
  display: flex;
  gap: 20px;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 435px;
}

.footer-contacts-item {
  display: flex;
  justify-content: space-between;
}

.scroll-to-top-btn {
  position: fixed;

  right: 6px;
  bottom: 30%;

  width: 46px;
  height: 46px;
  padding: 10px 11px;

  z-index: 10;
  cursor: pointer;

  backdrop-filter: blur(6px);
  border: 1px solid var(--green-color-300);
  background-color: transparent;
  border-radius: 50px;

  transition: opacity var(--transition-dur-and-func);
}
